/* ----   BANNER   ----  */

/* carousel  */
.carousel_inner{
   width:   100%;
   overflow:   hidden;
   }

   .carousel_inner::after{
   content: "";
   display: block;
   clear:   both;
   }

   .carousel_item{
   position:   relative;
   float:   left;
   display: none;
   width:   100%;
   margin-right:  -100%;
   }

   /* slide  effect  */
   .carousel_item__active,
   .carousel_item__pos_next{
   display: block;
   }

   .carousel_item__pos_next{
   left: 100%;
   }

   .carousel_item__next{
   transform:  translateX(-100%);
   transition: transform .5s ease-in-out;
   }

   /* fade   effect   */
   .carousel__fade   .carousel_item__pos_next{
   left: 0;
   opacity: 0;
   }

   .carousel__fade   .carousel_item__next{
   transform:  none;
   opacity: 1;
   transition: opacity   1.5s   ease-in-out;
   -webkit-transition: opacity   1.5s   ease-in-out;
   -moz-transition: opacity   1.5s   ease-in-out;
   -ms-transition: opacity   1.5s   ease-in-out;
   -o-transition: opacity   1.5s   ease-in-out;
}
   
   .carousel__fade   .carousel_item__active.carousel_item__next{
   opacity: 0;
   }
   
   /* carousel  */
   .carousel_img{
   display: block;
   width:   100%;
   height:  500px;
   }

   .carousel_caption{
   position:   absolute;
   top:  0;
   left: 0;
   display: flex;
   flex-direction:   column;
   justify-content:  center;
   width:   100%;
   height:  100%;
   padding: 3rem   2.5rem;
   text-align: center;
   color:   #fff;
   z-index: 1;
   }
   
   .carousel_title{
   font-family:   "Montserrat",  sans-serif;
   font-weight:   600;
   }
   
   .carousel_description{
   margin-top: .75rem;
   line-height:   150%;
   }

   

   /* FEATURED  */
.featured{
   width:   100%;
   margin:  auto;
   text-align: center;
   padding-top:   80px;

}
h1{
   font-size:  36px;
   font-weight:   600;
}
.featured-col{
   float:   left;
   width:   33.33%;
   padding: 3px;
   flex-basis: 32%;
   border-radius: 10px;
   -webkit-border-radius:  10px;
   -moz-border-radius:  10px;
   -ms-border-radius:   10px;
   -o-border-radius: 10px;
   margin-bottom: 30px;
   position:   relative;
   overflow:   hidden;
}
.row::after{
   content: "";
   display: table;
   clear:   both;
}
.featured-col  img{
   width:   100%;
}
.layer{
   background: rgba(39,  40,  43,  0);
   height:  100%;
   width:   100%;
   position:   absolute;
   top:  0;
   left: 0;
   transition: .5s;
   -webkit-transition:  .5s;
   -moz-transition:  .5s;
   -ms-transition:   .5s;
   -o-transition: .5s;
}
.layer:hover{
   background: rgba(0,   0, 0,  0.6);
}
.layer   h3{
   color:   #dadada;
}
.layer   .highlight{
   background-color: rgba(0,   0, 0,  0.4);
   border-radius: 6px;
   -webkit-border-radius:  6px;
   -moz-border-radius:  6px;
   -ms-border-radius:   6px;
   -o-border-radius: 6px;
   padding: 3px 6px;
}

/* ----   FEATURED ----   */

.container{
   /* background:linear-gradient(45deg, blueviolet, lightgreen); */
   padding:15px 9%;
   padding-bottom: 100px;
}

.container .heading{
   text-align: center;
   padding-bottom: 15px;
   color:#fff;
   text-shadow: 0 5px 10px rgba(0,0,0,.2);
   font-size: 50px;
}

.container .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
   gap:15px;
}

.container .box-container .box{
   box-shadow: 0 5px 10px rgba(0,0,0,.2);
   border-radius: 5px;
   background: #fff;
   text-align: center;
   padding:30px 20px;
   transition: 1s;
   -webkit-transition: 1s;
   -moz-transition: 1s;
   -ms-transition: 1s;
   -o-transition: 1s;
}

.container .box-container .box img{
   height: 80px;
}

.container .box-container .box h3{
   color:#444;
   font-size: 22px;
   padding:10px 0;
}

.container .box-container .box p{
   color:#777;
   font-size: 15px;
   line-height: 1.8;
}

.container .box-container .box .btn{
   margin-top: 10px;
   display: inline-block;
   background:#333;
   color:#fff;
   font-size: 17px;
   border-radius: 5px;
   padding: 8px 25px;
}

.container .box-container .box .btn:hover{
   letter-spacing: 1px;
}

.container .box-container .box:hover{
   box-shadow: 0 10px 15px rgba(0,0,0,.3);
   transform: scale(1.03);
   transition: 1s;
   -webkit-transition: 1s;
   -moz-transition: 1s;
   -ms-transition: 1s;
   -o-transition: 1s;
}

@media (max-width:768px){
   .container{
       padding:20px;
   }
}


/* ----   GALLERY  ---- */
.galleryHome{
   background-color: #ebeef1;
   width:   100%;
   margin:  auto;
   text-align: center;
   padding-top:   80px;
   padding-bottom:   50px;

}
.image-grid {
	--gap:   16px;
	--num-cols: 4;
	--row-height:  300px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns:  repeat(var(--num-cols),   1fr);
	grid-auto-rows:   var(--row-height);
	gap:  var(--gap);
}

.image-grid>img   {
	width:   100%;
	height:  100%;
	object-fit: cover;
}

.image-grid-col-2 {
	grid-column:   span  2;
}

.image-grid-row-2 {
	grid-row:   span  2;
}

/* Anything  udner   1024px   */
@media   screen   and   (max-width: 1024px)   {
	.image-grid {
		--num-cols: 2;
		--row-height:  200px;
	}
}

.MoreGallery{
   color:   #000;
   text-decoration:  none;
   font-size:  20px;
   font-weight:   500;
   text-transform:   uppercase;
}
.MoreGallery   a{
   color:   black;
   text-decoration:  none;
   font-size:  13px;
}


/* ----   PROMOTE   ----  */
.cta{
   margin:  100x auto;
   width:   100%;
   background-image: linear-gradient(rgba(0,0,0,.7),   rgba(0,0,0,.7)),  url(../images/Rakrakan.png);
   background-position: center;
   background-size:  cover;
   text-align: center;
   padding: 100px  0;
}
cta a{
   color: #272727;
}
.cta  h1{
   color:   #dadada;
   margin-bottom: 40px;
   padding: 0;
}
.hero-btn{
   display: inline-block;
   text-decoration:  none;
   border:  1px  solid   #dadada;
   padding: 12px   34px;
   font-size:  13px;
   background: transparent;
   position:   relative;
   cursor:  pointer;
}
.hero-btn:hover{
   border:  1px  solid   #272727;
   background: #272727;
   transition: 1s;
   -webkit-transition:  1s;
   -moz-transition:  1s;
   -ms-transition:   1s;
   -o-transition: 1s;
}
