/* ---- NAV ---- */
*{
   margin:  0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}
body{
   height:  100vh;
   background: #dbdbdb;
}
.header{
   min-width:  80vh;
   width:   100%;
   background-color: #525357;
}
nav{
   display: flex;
   padding: 2%  6%;
   justify-content:  space-between;
   align-items:   center;
}
nav   img{
   width:   50px;

}
.nav-links{
   flex: 1;
   text-align: right;
}
.nav-links  ul   li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position:   relative;
}
.nav-links  ul   li a{
   color:   #dbdbdb;
   text-decoration:  none;
   font-size:  13px;
}
.nav-links  ul   li::after{
   content: '';
   width:   0%;
   height:  2px;
   background: #e4e1e1;
   display: block;
   margin:  auto;
   transition: 0.5s;
   -webkit-transition:  0.5s;
   -moz-transition:  0.5s;
   -ms-transition:   0.5s;
   -o-transition: 0.5s;
}
.nav-links  ul   li:hover::after{
   width:   100%;
}

nav   .fa{
   display: none;
   }
@media(max-width: 700px){
   .nav-links  ul   li a{
   color:   #fff;
   text-decoration:  none;
   font-size:  13px;
   }
   .nav-links  ul   li{
   display: block;

   }
   .nav-links  ul{
   padding: 30px;
   }
   .nav-links{
   position:   absolute;
   background: #272727;
   height:  100vh;
   width:   200px;
   top:  0;
   right:   -200;
   text-align: left;
   z-index: 2;
   transition: 1s;
   -webkit-transition:  1s;
   -moz-transition:  1s;
   -ms-transition:   1s;
   -o-transition: 1s;
}
   nav   .fa{
   display: block;
   color:   #fff;
   margin:  10px;
   font-size:  22px;
   cursor:  pointer;
   }
   }


/* ---- FOOTER ---- */
.footer{
    width:   100%;
    text-align: center;
    padding: 30px   0;
 }
 
 .footer  h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight:   600;
 }
 
 .icons   .fa{
    color:   #272727;
    margin:  0 13px;
    cursor:  pointer;
    padding: 18px   0;
 }