*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
  height: 100vh;
  background: #e6e7e2;
  
}
.header{
    min-width: 100vh;
    width: 100%;
    background-color: rgb(192, 197, 202);

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 50px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #272727;
    display: block;
    margin: auto;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* ---- BANNER ---- */

/* carousel */
.carousel_inner{
    width: 100%;
    overflow: hidden;
 }
 
 .carousel_inner::after{
    content: "";
    display: block;
    clear: both;
 }
 
 .carousel_item{
    position: relative;
    float: left;
    display: none;
    width: 100%;
    margin-right: -100%;
 }
 
 /* slide effect */
 .carousel_item__active,
 .carousel_item__pos_next{
    display: block;
 }
 
 .carousel_item__pos_next{
    left: 100%;
 }
 
 .carousel_item__next{
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
 }
 
 /* fade effect */
 .carousel__fade .carousel_item__pos_next{
    left: 0;
    opacity: 0;
 }
 
 .carousel__fade .carousel_item__next{
    transform: none;
    opacity: 1;
    transition: opacity .5s ease-in-out;
 }
 
 .carousel__fade .carousel_item__active.carousel_item__next{
    opacity: 0;
 }
 
 /* carousel */
 .carousel_img{
    display: block;
    width: 100%;
    height: 500px;
 }
 
 .carousel_caption{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3rem 2.5rem;
    text-align: center;
    color: #fff;
    z-index: 1;
 }
 
 .carousel_title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
 }
 
 .carousel_description{
    margin-top: .75rem;
    line-height: 150%;
 }

 nav .fa{
   display: none;
 }
@media(max-width: 700px){
   .nav-links ul li a{
      color: #fff;
      text-decoration: none;
      font-size: 13px;
  }
   .nav-links ul li{
      display: block;

   }
   .nav-links ul{
      padding: 30px;
   }
   .nav-links{
      position: absolute;
      background: #272727;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -10;
      text-align: left;
      z-index: 2;
      transition: 1s;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
}
   nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
   }
 }

 /* FEATURED */
.featured{
   width: 100%;
   margin: auto;
   text-align: center;
   padding-top: 80px;

}
h1{
   font-size: 36px;
   font-weight: 600;
}
.featured-col{
   float: left;
   width: 33.33%;
   padding: 3px;
   flex-basis: 32%;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   margin-bottom: 30px;
   position: relative;
   overflow: hidden;
}
.row::after{
   content: "";
   display: table;
   clear: both;
}
.featured-col img{
   width: 100%;
}
.layer{
   background: rgba(39, 40, 43, 0);
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s;
}
.layer:hover{
   background: rgba(0, 0, 0, 0.6);
}
.layer h3{
   color: #dadada;
}
.layer .highlight{
   background-color: rgba(0, 0, 0, 0.4);
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   padding: 3px 6px;
}

/* ---- FEATURED ---- */
.container{
	margin: 30px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	background: #50A7FF;
	position: relative;
	flex: 1;
	max-width: 460px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
}

.image img{
   height: 100%;
	opacity: 1;
	position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
	vertical-align: top;

	transition: 0.6s;
	transition-property: opacity;
}

.image:hover img{
	opacity: 0.8;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details h2 span{
	font-weight: 900;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more{
	bottom: 0;
}

.more .follow{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.more .follow span{
	font-weight: 900;
}

.more .icon-links i{
	color: #000;
	font-size: 20px;
}

.more .icon-links a:not(:last-child) i{
	margin-right: 20px;
}

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 16px;
	}

	.more .follow, .more .icon-links a i{
		font-size: 18px;
	}
}

/* ---- GALLERY ---- */
.gallery{
   background-color: #50A7FF;
   width: 100%;
   margin: auto;
   text-align: center;
   padding-top: 80px;
   padding-bottom: 50px;

}
.image-grid {
	--gap: 16px;
	--num-cols: 4;
	--row-height: 300px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}

.MoreGallery{
   color: #000;
   text-decoration: none;
   font-size: 20px;
   font-weight: 500;
   text-transform: uppercase;
}
.MoreGallery a{
   color: black;
   text-decoration: none;
   font-size: 13px;
}

/* ---- CALL TO ACTION ---- */
.cta{
   margin: 100x auto;
   width: 100%;
   background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/Rakrakan.png);
   background-position: center;
   background-size: cover;
   text-align: center;
   padding: 100px 0;
}
.cta h1{
   color: #dadada;
   margin-bottom: 40px;
   padding: 0;
}
.hero-btn{
   display: inline-block;
   text-decoration: none;
   color: #dadada;
   border: 1px solid #dadada;
   padding: 12px 34px;
   font-size: 13px;
   background: transparent;
   position: relative;
   cursor: pointer;
}
.hero-btn:hover{
   border: 1px solid #272727;
   background: #272727;
   transition: 1s;
   -webkit-transition: 1s;
   -moz-transition: 1s;
   -ms-transition: 1s;
   -o-transition: 1s;
}

/* ---- FOOTER ---- */
.footer{
   width: 100%;
   text-align: center;
   padding: 30px 0;
}

.footer h4{
   margin-bottom: 25px;
   margin-top: 20px;
   font-weight: 600;
}

.icons .fa{
   color: #272727;
   margin: 0 13px;
   cursor: pointer;
   padding: 18px 0;
}

.fa-heart-o{
   
}
